/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.contentPane {
  margin: var(--space-small) var(--space-small) var(--space-xsmall);
}

.actionButtons {
  margin: 0 var(--space-xsmall) var(--space-small);
}

treechildren::-moz-tree-image(siteCol) {
  list-style-image: url(chrome://mozapps/skin/places/defaultFavicon.svg);
  -moz-context-properties: fill;
  fill: currentColor;
  width: var(--size-item-small);
  height: var(--size-item-small);
  margin-inline-end: var(--space-xsmall);
}
