/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

 body {
  color: #ffffff;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #ffffff;
}

p {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
  font-size: 13px;
}

#header,
#CheckboxContainer,
#ButtonContainer {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
}

#header {
  font-size: 35px;
  font-weight: normal;
  margin-top: 45px;
}

#Checkbox {
  vertical-align: middle;
}

#CheckboxLabel {
  font-size: 13px;
}

#Button {
  padding: 8px 40px;
  font-size: 15px;
}

/* The footer goes in the bottom right corner. */
#footer {
  position: fixed;
  right: 50px;
  bottom: 59px;
}