/* preferences About pane backgound */

.main-wrapper {
	background: url("chrome://tabgroups/skin/utils/bg-gradient-grass.png") repeat-x, url("chrome://tabgroups/skin/utils/bg-grainy-grass.png") repeat, #eee;
}

/* add-on's icon next to its name in About pane */

#logo {
	list-style-image: url("chrome://tabgroups/skin/icon.png");
}

/* Release Notes categories icons */

.notes-items > li.tagged > b {
	background-image: url("chrome://tabgroups/skin/utils/tags.png");
}

/* development status section images */

.happy {
	list-style-image: url("chrome://tabgroups/skin/utils/happy.png");
}

.sad {
	list-style-image: url("chrome://tabgroups/skin/utils/sad.png");
}

.hourglass image {
	list-style-image: url("chrome://tabgroups/skin/utils/hourglass.png");
}
