#categories .category image { list-style-image: url("chrome://tabgroups/skin/panes.png"); }
#categories .category[value="paneAbout"] image { -moz-image-region: rect(0px 24px 24px 0px); }
#categories .category[value="paneTabGroups"] image { -moz-image-region: rect(0px 48px 24px 24px); }
#categories .category[value="paneHowTo"] image { -moz-image-region: rect(0px 72px 24px 48px); }
#categories .category[value="paneSession"] image { -moz-image-region: rect(0px 96px 24px 72px); }

#paneTabGroups-shortcut label.stretch {
	-moz-margin-end: 1.5em !important;
	margin-top: 5px;
	margin-bottom: 5px;
}

#paneHowTo-credits {
	padding-top: 4em;
	font-size: 0.8em;
}

#paneHowTo-credits a {
	color: #424e5a;
}

#paneSession-backup-warning {
	font-weight: bold;
}

#paneSession-backup-warning .warning {
	color: #ee0000;
	text-decoration: underline;
}

#paneSession-backup-autoloaded,
#paneSession-restore-finished {
	text-align: center;
	color: #008844;
}

#paneSession-backup-button,
#paneSession-load-button,
#paneSession-migrated-button,
#paneSession-import-button {
	margin: 1em 4em;
}

#paneSession-load-button {
	-moz-margin-end: 0.5em;
}
#paneSession-migrated-button {
	-moz-margin-start: 0.5em;
}

#paneSession-restore-tabList {
	height: 450px;
}

#paneSession-restore-invalid {
	text-align: center;
	margin: 8px auto 4px;
	color: #ee0000;
}

#paneSession-clear-checklist .underline {
	text-decoration: underline;
}

#paneSession-clear-checklist[phase="1"] .item1,
#paneSession-clear-checklist[phase="2"] .item2,
#paneSession-clear-checklist[phase="3"] .item3 {
	font-weight: bold;
}

#paneSession-clear-checklist[phase="1"] .item1 .warning,
#paneSession-clear-checklist[phase="2"] .item2 .warning,
#paneSession-clear-checklist[phase="3"] .item3 .warning {
	color: #ee0000;
	text-decoration: underline;
}

#paneSession-clear-checklist[phase="1"] button:not(#paneSession-clear-button-1),
#paneSession-clear-checklist[phase="2"] button:not(#paneSession-clear-button-2),
#paneSession-clear-checklist[phase="3"] button:not(#paneSession-clear-button-3),
#paneSession-clear-checklist:not([phase="3"]) .confirm {
	visibility: hidden;
}
