@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* tabview menus */
.tabview-menuitem {
	max-width: 32em;
}

/* tabview menu item */

#tabGroups-menu_tabview {
	list-style-image: url(chrome://tabgroups-os/skin/tabview.png);
}

/* tabview toolbar button */

#tabGroups-tabview-button {
	list-style-image: url(chrome://tabgroups-os/skin/Toolbar.png);
}

toolbar[brighttext] #tabGroups-tabview-button {
	list-style-image: url(chrome://tabgroups-os/skin/Toolbar-inverted.png);
}

@media not all and (min-resolution: 1.1dppx) {
	#tabGroups-tabview-button[cui-areatype="menu-panel"],
	toolbarpaletteitem[place="palette"] > #tabGroups-tabview-button {
		list-style-image: url(chrome://tabgroups-os/skin/menuPanel.png);
	}
}

@media (min-resolution: 1.1dppx) {
	#tabGroups-tabview-button[cui-areatype="menu-panel"],
	toolbarpaletteitem[place="palette"] > #tabGroups-tabview-button {
		list-style-image: url(chrome://tabgroups-os/skin/menuPanel@2x.png);
	}
}
