/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://browser/skin/menulist.css");

@namespace html url("http://www.w3.org/1999/xhtml"); /* namespace for HTML elements */

menulist[editable="true"] {
  -moz-binding: url("chrome://browser/content/menulist.xml#menulist-editable");
  -moz-user-focus: ignore;
}

html|*.menulist-editable-input {
  -moz-appearance: none !important;
  background: transparent !important;
  -moz-box-flex: 1;
  margin: 0 !important;
  border: none !important;
  padding: 0 !important;
  font: inherit;
}
