/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
	background-color: transparent;
	font: message-box;
	color: rgba(0, 0, 0, 0.6);
	font-size: 12px;
}

/* yosemite uses vibrant background on parent iframe */
@media not all and (-moz-mac-yosemite-theme) {
	#bg {
		background: linear-gradient(#C4C4C4, #9E9E9E);
	}

	#bg:-moz-window-inactive {
		background: linear-gradient(#EDEDED, #D8D8D8);
	}
}

/* Tabs */

.tab {
	margin: 8px;
	background-color: rgb(240,240,240);
}

.tab canvas,
.cached-thumb {
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.thumb {
	box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.2);
}

html[dir=rtl] .thumb {
	box-shadow: -1px 2px 0 rgba(0, 0, 0, 0.2);
}

.favicon {
	background-color: rgb(240,240,240);
	box-shadow: 0 -1px 0 rgba(225, 225, 225, 0.8) inset, -1px 0 0 rgba(225, 225, 225, 0.8) inset;
	-moz-border-end: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	height: 16px;
	width: 16px;
}

html[dir=rtl] .favicon {
	box-shadow: 0 -1px 0 rgba(225, 225, 225, 0.8) inset, 1px 0 0 rgba(225, 225, 225, 0.8) inset;
}

.close {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/close.png), 0, 16, 16, 0);
}
.close:hover {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/close.png), 0, 32, 16, 16);
}
.close:active {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/close.png), 0, 48, 16, 32);
}

.expander {
	bottom: 8px;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}

.expander:hover,
.appTabIcon:hover {
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
	opacity: 1.0;
}

.favicon img:hover,
.expander img:hover {
	opacity: 1;
	border: none;
}

.tab-title {
	bottom: -20px;
	text-shadow: 0 1px rgba(255, 255, 255, 0.6);
}

.tab.focus {
	box-shadow: 0 0 5.5px -moz-mac-menuselect/*#0060D6*/;
	border: 1px solid rgba(255, 255, 255, 0.6);
}

/* Tab: Zooming */

.front .thumb {
	box-shadow: none !important;
}

.front.focus {
	border: none !important;
}

/* Tab GroupItem */

.groupItem {
	background-color: rgb(240,240,240);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.phantom {
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.dragRegion {
	background: rgba(235, 235, 235, 0.4);
}

.undo {
	background-color: #A0A0A0;
	box-shadow: 0px 1px 0px rgba(255,255,255,.5), 0px -1px 0px rgba(0,0,0,.24);
	text-shadow: 0px -1px 0px rgba(255,255,255,.2);
	color: rgba(0,0,0,.8);
}

.undo:hover {
	background-color: #949494;
}

/* Other */

input.name {
	color: #999;
}

input.name:focus {
	color: #555;
}

.title-container:hover input.name::-moz-placeholder {
	color: #CCC;
}

/* Side buttons */

#actions {
	background-color: #EBEBEB;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.5);
}

#exit-button {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/tabview.png), 0, 100, 20, 80);
}

#exit-button[groups="0"] {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/tabview.png), 0, 20, 20, 0);
}

#exit-button[groups="1"] {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/tabview.png), 0, 40, 20, 20);
}

#exit-button[groups="2"] {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/tabview.png), 0, 60, 20, 40);
}

#exit-button[groups="3"] {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/tabview.png), 0, 80, 20, 60);
}

/* Search */

#searchshade:-moz-window-inactive {
	background: linear-gradient(rgba(237,237,237,0.42), rgba(216,216,216,0.42));
}

#searchbox {
	box-shadow: 0px 1px 0px rgba(255,255,255,.5), 0px -1px 0px rgba(0,0,0,1), 0px 0px 13px rgba(0,0,0,.8);
}

#searchbox:-moz-window-inactive {
	background-color: #BBBBBB;
	box-shadow: 0px 1px 0px rgba(255,255,255,.1), 0px -1px 0px rgba(0,0,0,0.3), 0px 0px 13px rgba(0,0,0,.2);
}

#otherresults .label:-moz-window-inactive {
	color: #404040;
}
