@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* tabview menu item */

#tabGroups-menu_tabview {
	-moz-image-region: rect(2px, 98px, 18px, 82px);
}

#tabGroups-menu_tabview[groups="0"] {
	-moz-image-region: rect(2px, 18px, 18px, 2px);
}

#tabGroups-menu_tabview[groups="1"] {
	-moz-image-region: rect(2px, 38px, 18px, 22px);
}

#tabGroups-menu_tabview[groups="2"] {
	-moz-image-region: rect(2px, 58px, 18px, 42px);
}

#tabGroups-menu_tabview[groups="3"] {
	-moz-image-region: rect(2px, 78px, 18px, 62px);
}

/* tabview toolbar button */

@media not all and (min-resolution: 1.1dppx) {
	#tabGroups-tabview-button {
		-moz-image-region: rect(0, 18px, 18px, 0);
	}
	#tabGroups-tabview-button:hover:active:not([disabled="true"]):not([cui-areatype="menu-panel"]) {
		-moz-image-region: rect(18px, 18px, 36px, 0);
	}
	#tabGroups-tabview-button[cui-areatype="menu-panel"],
	toolbarpaletteitem[place="palette"] > #tabGroups-tabview-button {
		-moz-image-region: rect(0, 32px, 32px, 0);
	}
}

@media (min-resolution: 1.1dppx) {
	#tabGroups-tabview-button {
		list-style-image: url(chrome://tabgroups-os/skin/Toolbar@2x.png);
		-moz-image-region: rect(0, 36px, 36px, 0);
	}
	#tabGroups-tabview-button:hover:active:not([disabled="true"]):not([cui-areatype="menu-panel"]) {
		-moz-image-region: rect(36px, 36px, 72px, 0);
	}
	#tabGroups-tabview-button[cui-areatype="menu-panel"],
	toolbarpaletteitem[place="palette"] > #tabGroups-tabview-button {
		-moz-image-region: rect(0, 64px, 64px, 0);
	}

	toolbar[brighttext] #tabGroups-tabview-button {
		list-style-image: url(chrome://tabgroups-os/skin/Toolbar-inverted@2x.png);
	}
}

:-moz-any(toolbar, .widget-overflow-list) #tabGroups-tabview-button > .toolbarbutton-icon {
	max-width: 18px;
	margin: 0;
}

/* tabview yosemite vibrancy background */
@media (-moz-mac-yosemite-theme) {
	#tabGroups-tab-view {
		-moz-appearance: -moz-mac-vibrancy-light;
	}
}
