/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#WaterfoxBlockerAllowlistDialog {
  width: 45em;
  min-height: 36em;
}

#WaterfoxBlockerAllowlistDialog #url {
  flex: 1;
}

#WaterfoxBlockerAllowlistDialog #siteCol {
  flex: 3 3 auto;
  width: 0;
}
