/* main sections, general widths backgrounds fonts */

h3,h4,h5,p {
	padding: 0;
	margin: 0;
}

a[href=""] {
	display: none;
}

page[currentcategory="paneAbout"] .main-content {
	-moz-padding-start: 24px;
	-moz-padding-end: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

page[currentcategory="paneAbout"] #mainPrefPane {
	max-width: 910px;
}

page[currentcategory="paneAbout"] #header-about {
	margin-top: 30px;
	-moz-margin-start: 24px;
	-moz-margin-end: 24px;
}

/* nodes that aren't visible but should still occupy their space in the layout */
[invisible="true"] { visibility: hidden; }

/* top area, general information */

#general {
	margin: 0 26px 30px;
}

#version label {
	-moz-margin-start: 3px;
	-moz-margin-end: 0;
	color: #484848;
	font-weight: normal;
	font-size: 1.5rem;
}

#logo {
	max-height: 68px;
	-moz-margin-end: 10px;
}

p {
	line-height: 1.4em;
	margin-bottom: 1em;
}

p.signature {
	text-align: right;
	font-style: italic;
	font-size: 1.05em;
	margin-top: -0.25em;
}

@media only screen and (min-width:1150px) {
	.main-column {
		width: 540px;
		float: left;
	}
}

#bottomwrapper {
	padding-bottom: 40px;
}

.row {
	margin: 0 auto;
	position: relative;
}

/* make the "Show this tab on the next update" checkbox more noticeable */

#notifyOnUpdates {
	width: 100%;
	padding-top: calc(15px - 0.75em);
}

#notifyOnUpdates checkbox {
	margin: 0.75em;
}

#notifyOnUpdates checkbox:not([checked="true"]) {
	font-weight: normal;
}

#notifyOnUpdates[blink="true"] .notifyOnUpdates-checkbox-container {
	animation: noticeMe 1.5s linear infinite;
}
@keyframes noticeMe {
	0% {
		background-color: rgba(255,255,0,0);
		box-shadow: 0 0 4px 4px rgba(255,255,0,0);
	}
	10% {
		background-color: rgba(255,255,0,1);
		box-shadow: 0 0 4px 4px rgba(255,255,0,1);
	}
	15% {
		background-color: rgba(255,255,0,1);
		box-shadow: 0 0 4px 4px rgba(255,255,0,1);
	}
	90% {
		background-color: rgba(255,255,0,0);
		box-shadow: 0 0 4px 4px rgba(255,255,0,0);
	}
	100% {
		background-color: rgba(255,255,0,0);
		box-shadow: 0 0 4px 4px rgba(255,255,0,0);
	}
}

/* development hours section */

#bank {
	width: 70%;
	margin: 0 auto 35px;
	display: flex;
	flex-direction: column;
	background: white;
	box-shadow: 0 1px 0 #ddd;
	text-align: center;
}

#bank:hover {
	box-shadow: 0 0 0 1px #0095dd;
}

@media only screen and (min-width:1150px) {
	#bank {
		float: left;
		width: 220px;
		margin: 0 10px 0 70px;
	}
}

#bank .topbank {
	padding: 0 10px;
	display: flex;
}

#bank .topbank > * {
	width: 50%;
	flex: 1 1 auto;
}

#bank .header {
	margin: 10px 1em 0 1em;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 1.2em;
	color: #484848;
	text-shadow: 0 1px 0 rgba(255,255,255,0.75);
}

#bank.positive .sad,
#bank.negative .happy {
	display: none;
}

#bank .sad,
#bank .happy {
	max-width: 24px;
}
#bank .happy {
	margin-top: 8px;
}
#bank .sad {
	margin-top: 5px;
	margin-bottom: 9px;
}

#bank.positive .hourglasswrapper {
	margin-bottom: 12px;
}

#bank.negative .hourglasswrapper {
	margin-top: 10px;
}

#bank .hourglasswrapper {
	display: flex;
}

#bank .hourglass {
	position: relative;
	margin: auto;
	max-height: 70px;
}

#bank .hourglass image {
	position: relative;
	max-height: 70px;
	z-index: 2;
}

#bank .visualbanked {
	position: absolute;
	width: 100%;
	height: calc(50% - 3px);
	top: 3px;
	background-color: rgba(60,120,200,0.1);
}

#bank .visualowed {
	position: absolute;
	width: 100%;
	height: calc(50% - 3px);
	bottom: 3px;
	background-color: rgba(60,120,200,0.1);
}

#bank.positive .balance {
	color: rgb(11,216,11);
}
#bank.negative .balance {
	color: rgb(227,12,12);
}

#bank .balance {
	font-size: 3em;
	font-weight: bold;
}

#bank.banked .label.owed,
#bank.owed .label.banked {
	display: none;
}

#bank .label.owed,
#bank .label.banked {
	margin: auto;
	max-width: 6em;
	font-size: 0.9em;
	font-weight: bold;
}

#bank:not(.working) .coding {
	display: none;
}

#bank .coding {
	margin-top: 0;
	margin-bottom: 5px;
	font-family: Monaco, Consolas, Lucida Console, monospace;
	font-size: 0.8em;
	font-weight: bold;
	color: rgb(212,102,14);
	text-shadow: 1px 1px 1px rgba(66,78,90,0.1);
}

#bank .blink {
	text-shadow: 1px 1px 1px rgba(66,78,90,0.2);
	animation: blink 1s linear infinite;
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}

#bank a {
	padding: 0.5em;
	outline: 0;
	text-decoration: none;
	font-size: 0.9em;
	font-weight: bold;
	transition: background 150ms, color 200ms;
	color: rgba(205,41,0,0.7);
	background: rgba(255,91,11,0.2);
}

#bank a:hover,
#bank a:focus {
	color: rgba(205,41,0,1);
	background: rgba(255,91,11,0.5);
}

/* release notes section */

#releases {
	margin: 0 26px 40px;
}

.notes {
	box-shadow: 0 0 0 1px #fff inset;
	background: #fff;
	border-bottom: 1px solid #ddd;
	margin: 0 -20px 20px;
	padding: 20px 20px;
}

h3 {
	font-weight: normal;
	line-height: 150%;
	font-size: 1.8em;
	letter-spacing: -0.5px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.75);
	color: #484848;
}

h4 {
	font-weight: normal;
	line-height: 100%;
	font-size: 1.1em;
	text-shadow: 0 1px 0 rgba(255,255,255,0.75);
	color: #484848;
}

.notes-items {
	list-style: outside none none;
	-moz-padding-start: 0;
}

.notes-items > li {
	border-top: 1px solid #D6D6D6;
	margin: 0px;
	padding: 0.714rem 0px 0.5rem;
	position: relative;
}

.notes-items > li.tagged {
	padding-left: 160px;
}

.notes-items > li.tagged > b {
	background-color: #F3F3F3;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0px 0px;
	border-right: 3px solid #CCC;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px -1px 0px rgba(0, 0, 0, 0.05) inset;
	display: inline-block;
	font-size: 11px;
	font-style: normal;
	line-height: 14px;
	padding: 4px 2px 4px 33px;
	position: absolute;
	top: 0.714rem;
	left: 0px;
	text-shadow: 1px 1px 0px #FFF;
	text-transform: uppercase;
	width: 102px;
}

.notes-items > li.tagged > b.new {
	background-color: #ffedcf;
	background-position: 0 -50px;
	border-color: #f90;
}

.notes-items > li.tagged > b.changed {
	background-color: #e9cfff;
	background-position: 0 -100px;
	border-color: #8106e0;
}

.notes-items > li.tagged > b.bugfix {
	background-color: #f0ffe1;
	background-position: 0 -150px;
	border-color: #5ba622;
}

.notes-items > li.tagged > b.removed {
	background-color: #f8dfd8;
	background-position: 0 -200px;
	border-color: #d85027;
}

.notes-items > li.tagged > b.updated {
	background-color: #dcf6ff;
	background-position: 0 -250px;
	border-color: #038fc0;
}

.notes-items > li.tagged > b.unresolved {
	background-color: #ffc8c8;
	background-position: 0 -300px;
	border-color: #c00;
}

.notes-items > li > p {
	margin: 0px 0px 0.25em;
}

#divAllVersions {
	text-align: center;
}

/* side sections */

#sidebar {
	padding-bottom: 20px;
}

#sidebar > * {
	border-bottom: 1px dotted #bdbdbd;
	margin-bottom: 20px;
}

h5 {
	line-height: 100%;
	text-shadow: 0 1px 0 rgba(255,255,255,0.75);
	color: #484848;
	letter-spacing: -0.5px;
	font-size: 1.45em;
	margin: 0 0 12px;
}

#sidebar ul {
	padding: 0;
}

#sidebar li {
	margin: 0 0 0.5em 20px;
}

@media only screen and (min-width:1150px) {
	#sidebar {
		float: left;
		width: 220px;
		margin: 0 10px 0 70px;
		padding-bottom: 0;
	}
}

#share-links {
	display: flex;
	width: 220px;
	height: 50px;
	overflow: visible;
	position: relative;
}

#share-links .share-link {
	flex: 1 1 auto;
	opacity: 0.8;
}

#share-links .share-link:-moz-any(:hover,:focus,:active) {
	outline: 0;
	opacity: 1;
}

#share-links .share-link .share-image {
	height: 38px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.share-facebook {
	background-color: rgb(59,89,152);
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cpath%20fill%3D%22%233B5998%22%20d%3D%22M0%200h32v32H0z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M22.08%2032V19.607h4.16l.62-4.83h-4.78v-3.083c0-1.398.388-2.352%202.393-2.352h2.56V5.02c-.443-.058-1.962-.19-3.728-.19-3.688%200-6.213%202.25-6.213%206.385v3.562h-4.17v4.83h4.17V32h4.987z%22%2F%3E%3C%2Fsvg%3E');
}

.share-twitter {
	background-color: rgb(85,172,238);
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cpath%20fill%3D%22%2355ACEE%22%20d%3D%22M0%200h32v32H0z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M28%208.557c-.884.39-1.833.656-2.828.775%201.017-.608%201.798-1.573%202.166-2.725-.953.567-2.006.976-3.13%201.194-.896-.955-2.176-1.553-3.593-1.553-2.72%200-4.924%202.206-4.924%204.925%200%20.387.046.763.13%201.125-4.093-.208-7.723-2.168-10.15-5.147-.422.726-.666%201.573-.666%202.476%200%201.71.87%203.214%202.19%204.1-.806-.027-1.564-.25-2.23-.616v.06c0%202.39%201.7%204.378%203.952%204.83-.414.113-.85.172-1.297.172-.318%200-.626-.03-.928-.086.63%201.956%202.447%203.38%204.6%203.42-1.685%201.318-3.808%202.107-6.114%202.107-.398%200-.79-.023-1.175-.068%202.18%201.396%204.768%202.213%207.55%202.213%209.056%200%2014.01-7.506%2014.01-14.012%200-.213-.005-.426-.015-.637.96-.695%201.795-1.56%202.455-2.55z%22%2F%3E%3C%2Fsvg%3E');
}

.share-googleplus {
	background-color: rgb(221,75,57);
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cpath%20fill%3D%22%23DD4B39%22%20d%3D%22M0%200h32v32H0z%22%2F%3E%3Cg%20fill%3D%22%23FFF%22%3E%3Cpath%20d%3D%22M27%2015h-2v-2h-2v2h-2v2h2v2h2v-2h2M12%2015v2.4h3.97c-.16%201.03-1.2%203.02-3.97%203.02-2.39%200-4.34-1.98-4.34-4.42s1.95-4.42%204.34-4.42c1.36%200%202.27.58%202.79%201.08l1.9-1.83C15.47%209.69%2013.89%209%2012%209c-3.87%200-7%203.13-7%207s3.13%207%207%207c4.04%200%206.72-2.84%206.72-6.84%200-.46-.05-.81-.11-1.16H12z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}
