@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@media (-moz-windows-compositor) {
	#tabGroups-tab-view:-moz-lwtheme {
		background-image: url("chrome://tabgroups-os/skin/grain.png"), linear-gradient(rgba(255,255,255,0), #CCD9EA 200px, #C7D5E7);
		background-attachment: fixed;
	}
}

/* tabview menu item */

#tabGroups-menu_tabview {
	-moz-image-region: rect(1px, 89px, 17px, 73px);
}

#tabGroups-menu_tabview[groups="0"] {
	-moz-image-region: rect(1px, 17px, 17px, 1px);
}

#tabGroups-menu_tabview[groups="1"] {
	-moz-image-region: rect(1px, 35px, 17px, 19px);
}

#tabGroups-menu_tabview[groups="2"] {
	-moz-image-region: rect(1px, 53px, 17px, 37px);
}

#tabGroups-menu_tabview[groups="3"] {
	-moz-image-region: rect(1px, 71px, 17px, 55px);
}

/* tabview toolbar button */

:-moz-any(toolbar, .widget-overflow-list) #tabGroups-tabview-button > .toolbarbutton-icon {
	max-width: 18px;
}

@media (min-resolution: 1.1dppx) {
	#tabGroups-tabview-button {
		list-style-image: url(chrome://tabgroups-os/skin/Toolbar@2x.png);
	}

	toolbar[brighttext] #tabGroups-tabview-button {
		list-style-image: url(chrome://tabgroups-os/skin/Toolbar-inverted@2x.png);
	}
}

#nav-bar #tabGroups-tabview-button > .toolbarbutton-icon {
	padding: 2px 6px;
	max-width: 32px;
}

@media (-moz-os-version: windows-win10) {
	#nav-bar #tabGroups-tabview-button > .toolbarbutton-icon {
		padding: 4px 6px;
	}
}

@media (-moz-windows-theme: luna-silver) and (max-resolution: 1dppx) {
	#tabGroups-tabview-button {
		list-style-image: url("chrome://tabgroups-os/skin/Toolbar-lunaSilver.png");
	}
}
