/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
	font: message-box;
	color: rgba(0, 0, 0, 0.6);
	font-size: 13px;
}

#bg:not(:-moz-system-metric(windows-compositor)) {
	background: url("chrome://tabgroups-os/skin/grain.png") repeat scroll center top, linear-gradient(#CCD9EA, #C7D5E7) repeat scroll 0 0;
}

/* Tabs */

.tab {
	margin: 4px;
	background-color: #E0EAF5;
}

html[dir=rtl] .tab {
	box-shadow:
		0 1px 0 #FFFFFF inset,
		0 -1px 1px rgba(255, 255, 255, 0.8) inset,
		-1px 0 1px rgba(255, 255, 255, 0.8) inset,
		1px 0 1px rgba(255, 255, 255, 0.8) inset,
		0 1px 1.5px rgba(4, 38, 60, 0.4);
}

.tab canvas,
.cached-thumb {
	border: 1px solid rgba(73, 99, 119, 0.3);
}

.thumb {
	box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
}

html[dir=rtl] .thumb {
	box-shadow: -1px 2px 0 rgba(0, 0, 0, 0.1);
}

.favicon {
	background-color: #E0EAF5;
	-moz-border-end: 1px solid rgba(73, 99, 119, 0.3);
	border-bottom: 1px solid rgba(73, 99, 119, 0.3);
	height: 17px;
	width: 17px;
}

.close {
	background-image: -moz-image-rect(url("chrome://tabgroups-os/skin/close.png"), 0, 16, 16, 0);
}

.close:hover {
	background-image: -moz-image-rect(url("chrome://tabgroups-os/skin/close.png"), 0, 32, 16, 16);
}

.close:hover:active {
	background-image: -moz-image-rect(url("chrome://tabgroups-os/skin/close.png"), 0, 48, 16, 32);
}

.expander {
	bottom: 6px;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}

.expander:hover,
.appTabIcon:hover {
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
	opacity: 1.0;
}

.favicon img:hover,
.close img:hover,
.expander img:hover {
	opacity: 1;
	border: none;
}

.tab-title {
	bottom: -20px;
	text-shadow: 0 1px rgba(255, 255, 255, 0.6);
}

.tab.focus {
	box-shadow:
		0 1px 0 #FFFFFF inset,
		0 -1px 1px #FFFFFF inset,
		1px 0 1px #FFFFFF inset,
		-1px 0 1px #FFFFFF inset,
		0 0 5.5px #007ECE;
}

html[dir=rtl] .tab.focus {
	box-shadow:
		0 1px 0 #FFFFFF inset,
		0 -1px 1px #FFFFFF inset,
		-1px 0 1px #FFFFFF inset,
		1px 0 1px #FFFFFF inset,
		0 0 5.5px #007ECE;
}

/* Tab: Zooming */

.front .thumb {
	box-shadow: none !important;
}

/* Tab GroupItem */

.groupItem {
	background-color: #E0EAF5;
	box-shadow:
		0 1px 0 #FFFFFF inset,
		0 -1px 1px rgba(255, 255, 255, 0.8) inset,
		1px 0 1px rgba(255, 255, 255, 0.8) inset,
		-1px 0 1px rgba(255, 255, 255, 0.8) inset,
		0 1px 3px rgba(4, 38, 60, 0.6);
}

html[dir=rtl] .groupItem {
	box-shadow:
		0 1px 0 #FFFFFF inset,
		0 -1px 1px rgba(255, 255, 255, 0.8) inset,
		-1px 0 1px rgba(255, 255, 255, 0.8) inset,
		1px 0 1px rgba(255, 255, 255, 0.8) inset,
		0 1px 3px rgba(4, 38, 60, 0.6);
}

.dragRegion {
	background: rgba(224, 234, 245, 0.4);
}

.undo {
	background-color: #A0A0A0;
	box-shadow: 0px 1px 0px rgba(255,255,255,.5), 0px -1px 0px rgba(0,0,0,.24);
	text-shadow: 0px -1px 0px rgba(255,255,255,.2);
	color: rgba(0,0,0,.8);
}

.undo:hover {
	background-color: #949494;
}

/* Other */

input.name {
	color: #999;
}

input.name:focus {
	color: #555;
}

.title-container:hover input.name::-moz-placeholder {
	color: #CCC;
}

/* Side buttons */

#actions {
	border: none;
	background-color: #E0EAF5;
	box-shadow:
		0 1px 0 #FFFFFF inset,
		0 -1px 1px rgba(255, 255, 255, 0.8) inset,
		1px 0 1px rgba(255, 255, 255, 0.8) inset,
		-1px 0 1px rgba(255, 255, 255, 0.8) inset,
		0 1px 3px rgba(4, 38, 60, 0.6);
}

html[dir=rtl] #actions {
	box-shadow:
		0 1px 0 #FFFFFF inset,
		0 -1px 1px rgba(255, 255, 255, 0.8) inset,
		-1px 0 1px rgba(255, 255, 255, 0.8) inset,
		1px 0 1px rgba(255, 255, 255, 0.8) inset,
		0 1px 3px rgba(4, 38, 60, 0.6);
}

#exit-button {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/tabview.png), 0, 90, 18, 72);
}

#exit-button[groups="0"] {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/tabview.png), 0, 18, 18, 0);
}

#exit-button[groups="1"] {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/tabview.png), 0, 36, 18, 18);
}

#exit-button[groups="2"] {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/tabview.png), 0, 54, 18, 36);
}

#exit-button[groups="3"] {
	background-image: -moz-image-rect(url(chrome://tabgroups-os/skin/tabview.png), 0, 72, 18, 54);
}

/* Search */

#searchbox {
	box-shadow: 0px 1px 0px rgba(255,255,255,.5), 0px -1px 0px rgba(0,0,0,1), 0px 0px 9px rgba(0,0,0,.8);
}
