/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#warningScreen {
  font-size: var(--font-size-root);
  padding-top: 0;
  padding-bottom: 0;
  padding-inline-start: calc(var(--space-xxlarge) + var(--space-large) + 4.6em);
  padding-inline-end: calc(var(--space-xxlarge) + var(--space-large));
}

.title {
  background-image: url("chrome://global/skin/icons/warning.svg");
  fill: var(--icon-color-warning);
}

#warningTitle {
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 0.5em;
}

#warningText {
  margin: 1em 0;
}

#warningButton {
  margin-top: 0.6em;
}

#filterRow {
  margin-top: var(--space-xsmall);
  margin-inline-start: var(--space-xsmall);
}

#textbox {
  flex: 1;
}

#configTree {
  margin-top: var(--space-xsmall);
  margin-bottom: var(--space-xsmall);
}

#configTreeBody::-moz-tree-cell-text(user) {
  font-weight: var(--font-weight-bold);
}

#configTreeBody::-moz-tree-cell-text(locked) {
  font-style: italic;
}

#prefCol,
#valueCol {
  width: 40%;
}

#lockCol,
#typeCol {
  width: calc(var(--size-item-xlarge) + var(--size-item-medium));
}

.deck-selected {
  max-width: 100vw;
}
