@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

@-moz-document url("about:home"), url("about:newtab") {
  @media -moz-pref("userChrome.icon.context_menu") {
    .context-menu-list .context-menu-item button {
      padding-inline-start: 0 !important;
    }
    .context-menu-list .context-menu-item button span {
      -moz-context-properties: fill, fill-opacity, stroke !important;
      fill: currentColor !important;
      stroke: currentColor;
      background-size: 16px !important;
      background-repeat: no-repeat !important;
      background-image: var(--menuitem-image);
      padding-inline-start: 24px; /* 16px icon with 4px spacing. */
      background-position: var(--uc-menu-background-position, left) 4px center;
    }
    .context-menu-list .context-menu-item button span:dir(rtl) {
      --uc-menu-background-position: right;
    }
    .context-menu-item span[data-l10n-id="newtab-menu-pin"] {
      --menuitem-image: url("chrome://browser/skin/lepton/pin-tab.svg");
    }
    .context-menu-item span[data-l10n-id="newtab-menu-unpin"] {
      --menuitem-image: url("chrome://browser/skin/lepton/unpin-tab.svg");
    }
    .context-menu-item span[data-l10n-id="newtab-menu-edit-topsites"] {
      --menuitem-image: url("chrome://browser/skin/lepton/edit-active.svg");
    }
    .context-menu-item span[data-l10n-id="newtab-menu-bookmark"] {
      --menuitem-image: url("chrome://browser/skin/bookmark.svg");
    }
    .context-menu-item span[data-l10n-id="newtab-menu-remove-bookmark"] {
      --menuitem-image: url("chrome://browser/skin/bookmark-hollow.svg");
    }
    .context-menu-item span[data-l10n-id="newtab-menu-save-to-pocket"] {
      --menuitem-image: url("chrome://browser/skin/lepton/pocket-outline.svg");
    }
    .context-menu-item span[data-l10n-id="newtab-menu-open-file"] {
      --menuitem-image: url("chrome://browser/skin/lepton/fluid.svg");
    }
    .context-menu-item span[data-l10n-id="newtab-menu-show-file"] {
      --menuitem-image: url("chrome://global/skin/icons/folder.svg");
    }
    @media -moz-pref("userChrome.icon.library") {
      .context-menu-item span[data-l10n-id="newtab-menu-show-file"] {
        --menuitem-image: url("chrome://browser/skin/lepton/folder.svg");
      }
    }
    .context-menu-item span[data-l10n-id="newtab-menu-open-new-window"] {
      --menuitem-image: url("chrome://browser/skin/window.svg");
    }
    .context-menu-item span[data-l10n-id="newtab-menu-open-new-private-window"] {
      --menuitem-image: url("chrome://browser/skin/privateBrowsing.svg");
    }
    .context-menu-item span[data-l10n-id="newtab-menu-dismiss"] {
      --menuitem-image: url("chrome://global/skin/icons/delete.svg");
    }
    .context-menu-item span[data-l10n-id="newtab-menu-delete-history"] {
      --menuitem-image: url("chrome://browser/skin/lepton/eraser.svg");
    }
  }

  @media -moz-pref("userContent.newTab.full_icon") {
    .top-site-outer:not(.add-button) .tile .icon-wrapper,
    .top-site-outer:not(.add-button) .tile .top-site-icon {
      width: 100% !important;
      height: 100% !important;
    }

    .top-site-outer:not(.add-button) .tile .icon-wrapper {
      border-radius: inherit;
    }

    .top-site-outer:not(.add-button) .tile .top-site-icon {
      background-size: cover !important;
    }
  }

  @media not -moz-pref("userContent.newTab.animate") {
    .top-site-outer .tile,
    .top-site-outer .context-menu-button,
    .top-site-outer .icon-pin-small {
      animation: none !important;
      transition: none !important;
    }
  }

  @media -moz-pref("userContent.newTab.hidden_logo") {
    .logo-and-wordmark {
      display: none !important;
    }
    .outer-wrapper:not(.fixed-search) .search-wrapper {
      padding-top: 0 !important;
    }
  }

  @media -moz-pref("userContent.newTab.background_image") {
    body {
      --newtab-wallpaper: var(
        --uc-newTab-wallpaper,
        url("chrome://browser/skin/lepton/horizon-sunrise.svg")
      );
      --newtab-wallpaper-backgroundPosition: right top;
    }

    @media (prefers-color-scheme: dark) {
      body {
        --newtab-wallpaper: var(
          --uc-newTab-wallpaper,
          url("chrome://browser/skin/lepton/horizon-night.svg")
        );
      }
    }
  }
}
