/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

.container {
  padding-block: var(--space-small);
  padding-inline: var(--space-large);
  display: flex;
  flex-direction: column;

  &[hidden] {
    display: none;
  }
}
.card {
  background-color: var(--background-color-warning);
  padding: var(--space-large);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--space-small);
  align-self: stretch;
  border-radius: var(--border-radius-medium);

  @media -moz-pref("browser.nova.enabled") {
    background-color: transparent;
    align-items: flex-start;
    gap: var(--space-medium);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-large);
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-large);
  align-self: stretch;

  @media -moz-pref("browser.nova.enabled") {
    align-items: flex-start;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-small);
  flex: 1 0 0;

  .heading,
  p {
    margin: 0;
  }

  .heading {
    font-size: unset;
    font-weight: var(--font-weight-heading);
  }
}

.fox-icon-legacy {
  width: var(--size-image-xlarge);
  height: var(--size-image-xlarge);
  object-fit: contain;
  flex-shrink: 0;

  @media -moz-pref("browser.nova.enabled") {
    display: none;
  }
}

.shield-icon {
  display: none;

  @media -moz-pref("browser.nova.enabled") {
    width: var(--size-image-medium);
    display: revert;
  }
}
