/* Add any imports of other css here. */

%ifndef XP_MACOSX
  /* Ensure that bottom positioned tabs are colored according to theme */
  #browser-bottombox {
    background-color: var(--lwt-accent-color);
  }
%endif

/* Ensure that bottom positioned tabs collapse when video's are fullscreen */
:root[inDOMFullscreen] #browser-bottombox {
  visibility: collapse;
}
