@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* tabview menu item */

#tabGroups-menu_tabview {
	-moz-image-region: rect(0, 80px, 16px, 64px);
}

#tabGroups-menu_tabview[groups="0"] {
	-moz-image-region: rect(0, 16px, 16px, 0);
}

#tabGroups-menu_tabview[groups="1"] {
	-moz-image-region: rect(0, 32px, 16px, 16px);
}

#tabGroups-menu_tabview[groups="2"] {
	-moz-image-region: rect(0, 48px, 16px, 32px);
}

#tabGroups-menu_tabview[groups="3"] {
	-moz-image-region: rect(0, 64px, 16px, 48px);
}

/* tabview toolbar button */

:-moz-any(toolbar, .widget-overflow-list) #tabGroups-tabview-button > .toolbarbutton-icon {
	max-width: 18px;
}

:-moz-any(#TabsToolbar, #nav-bar) #tabGroups-tabview-button > .toolbarbutton-icon {
	padding: 2px 6px;
	max-width: 32px;
}
